.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0077cc;
  padding: 10px 20px;
  color: white;
}

.nav-links a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

.logo {
  font-size: 20px;
}

.search-input {
  padding: 6px;
  border-radius: 4px;
  border: none;
  width: 200px;
  margin-right: 20px;
}
